<p>销售报表</p>
<div class="table-responsive lhhome1">
  <table class="table">
    <thead>
    <tr class="active">
      <th width="80" class="text-left">序号</th>
      <th>姓名</th>
      <th>登录帐号</th>
      <th>手机</th>
      <th class="text-left">邮箱</th>
      <th class="text-left">组织</th>
      <th width="160">操作</th>
    </tr>
    </thead>
    <tbody class="person">
    <tr *ngFor="let item of DataList; let index = index">
      <td>{{index + 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.id}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.mail}}</td>
      <td>{{item.company}}</td>
      <td><a>添加</a></td>
    </tr>
    </tbody>
  </table>
</div>
